Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
Ans:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

O/p: 

0     4
1     8
2    15
3    16
4    23
5    42

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
Ans: 

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

Output:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10

Q3: Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

Ans: 
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
 }

df = pd.DataFrame(data)
print(df)

Q4: What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans: In pandas, a DataFrame is a two-dimensional data structure that can store and manipulate data in a tabular form, similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can have a different data type (e.g., numbers, strings, dates) and is represented by a pandas Series.

On the other hand, a pandas Series is a one-dimensional data structure that represents a single column or a single row of data in a DataFrame. It is essentially a labeled array and can contain homogeneous data types.

To illustrate the difference between a DataFrame and a Series, let's consider an example:


import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['John', 'Emma', 'Andrew', 'Sophia'],
    'Age': [25, 32, 28, 35],
    'City': ['New York', 'London', 'Paris', 'Tokyo'],
    'Country': ['USA', 'UK', 'France', 'Japan']
}
df = pd.DataFrame(data)

# Accessing a Series from the DataFrame
name_series = df['Name']

# Output the DataFrame
print("DataFrame:")
print(df)
print()

# Output the Series
print("Series:")
print(name_series)
```

Output:
```
DataFrame:
     Name  Age      City Country
0    John   25  New York     USA
1    Emma   32    London      UK
2  Andrew   28     Paris  France
3  Sophia   35     Tokyo   Japan

Series:
0      John
1      Emma
2    Andrew
3    Sophia
Name: Name, dtype: object
```

In the example above, we first create a DataFrame `df` with columns 'Name', 'Age', 'City', and 'Country'. We can access a specific column from the DataFrame by indexing it with square brackets (`df['Name']`). This returns a Series object `name_series` representing the 'Name' column.

The DataFrame `df` represents a tabular structure with multiple columns and rows. It provides functionalities to manipulate and analyze data collectively, such as filtering, grouping, and applying mathematical operations to columns.

The Series `name_series`, on the other hand, represents a single column of the DataFrame. It retains the index labels and can be accessed, sliced, and manipulated individually. It is a one-dimensional data structure with a single column of data.

In summary, a DataFrame is a two-dimensional table-like structure containing multiple columns, whereas a Series is a one-dimensional labeled array representing a single column or row of data from a DataFrame.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans: Pandas provides a wide range of functions to manipulate data in a DataFrame. Some commonly used functions include:

1. `head()` and `tail()`: These functions allow you to view the first few rows (`head()`) or the last few rows (`tail()`) of a DataFrame. They are useful for quickly inspecting the data or checking if the data has been loaded correctly.

2. `info()`: This function provides a concise summary of the DataFrame, including the column names, data types, and non-null values. It helps in understanding the structure and integrity of the data.

3. `describe()`: This function generates descriptive statistics of numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum. It provides a quick overview of the distribution and range of values in the data.

4. `shape`: This attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns). It is useful for checking the size of the dataset.

5. `loc` and `iloc`: These are used for indexing and selecting specific rows and columns in a DataFrame. `loc` uses label-based indexing, while `iloc` uses integer-based indexing. For example, `df.loc[2:4, 'Name']` selects rows 2 to 4 and the 'Name' column from the DataFrame `df`.

6. `drop()`: This function is used to remove rows or columns from the DataFrame. It can be used to eliminate unnecessary or redundant data.

7. `sort_values()`: This function sorts the DataFrame by one or more columns. It is useful for arranging the data in a specific order, such as sorting by a numerical column or sorting alphabetically by a string column.

8. `groupby()`: This function is used to group the DataFrame by one or more columns and perform aggregate functions on the grouped data. It is commonly used in data analysis to calculate statistics for different categories or groups within the data.

9. `apply()`: This function applies a function along a specific axis of the DataFrame. It can be used to transform or manipulate the data based on custom logic. For example, you can use `df['Age'].apply(lambda x: x + 1)` to add 1 to each value in the 'Age' column.

10. `fillna()`: This function is used to fill missing values (NaN) in the DataFrame with a specified value or with a method like forward fill or backward fill. It helps in handling missing data effectively.

These are just a few examples of the many functions available in Pandas for data manipulation. The choice of function depends on the specific data manipulation task you need to perform, such as data exploration, cleaning, filtering, transformation, or aggregation.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans: Among the options provided, the mutable nature applies to the DataFrame in pandas.

A mutable object can be modified after its creation. In pandas, a DataFrame is mutable, meaning you can make changes to its contents, add or remove columns, modify existing values, and perform various data manipulation operations. 

On the other hand, both Series and Panel are immutable in pandas. Once created, their contents cannot be changed. If you need to modify the data in a Series or Panel, you would typically create a new object with the desired changes rather than modifying the existing object.

To summarize:
- DataFrame: Mutable (can be modified)
- Series: Immutable (cannot be modified)
- Panel: Immutable (cannot be modified)

It's worth noting that starting from pandas version 1.0, the Panel data structure has been deprecated, and it is recommended to use other data structures like MultiIndex DataFrames to handle similar use cases.

Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans: To create a DataFrame using multiple Series, you can combine them together using the `pd.concat()` function or by passing them as a dictionary to the `pd.DataFrame()` constructor. Here's an example using the `pd.DataFrame()` constructor:

import pandas as pd

# Creating multiple Series
name_series = pd.Series(['John', 'Emma', 'Andrew', 'Sophia'])
age_series = pd.Series([25, 32, 28, 35])
city_series = pd.Series(['New York', 'London', 'Paris', 'Tokyo'])
country_series = pd.Series(['USA', 'UK', 'France', 'Japan'])

# Creating a DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series,
    'Country': country_series
}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)
```

Output:
```
     Name  Age      City Country
0    John   25  New York     USA
1    Emma   32    London      UK
2  Andrew   28     Paris  France
3  Sophia   35     Tokyo   Japan
```

In the example above, we first create four separate Series: `name_series`, `age_series`, `city_series`, and `country_series`. Each Series represents a column of data that we want to include in the DataFrame.

Then, we create a dictionary `data` where the keys are the column names ('Name', 'Age', 'City', 'Country'), and the values are the corresponding Series objects.

Finally, we pass the `data` dictionary to the `pd.DataFrame()` constructor, which combines the Series into a single DataFrame `df`.

This way, by using multiple Series, we can construct a DataFrame with different columns of data, allowing us to store and manipulate structured information efficiently.